{% extends 'women/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<form action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for item in form %}
        <p><label class="form-label" for="{{ item.id_for_label }}">{{ item.label }}: </label>{{ item }}</p>
        <div class="form-error">{{ item.errors }}</div>
    {% endfor %}

    <button type="submit">Add</button>
</form>

{% endblock %}
